<footer class="footer">
    <ul>
        <li><a href="{{ url_for('core/products',category_code='01',list_per_page=24,page_index=0) }}">フード・ドリンク</a></li>
        <li><a href="{{ url_for('core/products',category_code='02',list_per_page=24,page_index=0) }}">ブランド</a></li>
        <li><a href="{{ url_for('core/products',category_code='03',list_per_page=24,page_index=0) }}">ファッション</a></li>
        <li><a href="{{ url_for('core/products',category_code='04',list_per_page=24,page_index=0) }}">AV・デジモノ</a></li>
        <li><a href="{{ url_for('core/products',category_code='05',list_per_page=24,page_index=0) }}">家電</a></li>
        <li><a href="{{ url_for('core/products',category_code='06',list_per_page=24,page_index=0) }}">美容・コスメ</a></li>
        <li><a href="{{ url_for('core/products',category_code='07',list_per_page=24,page_index=0) }}">ダイエット・健康</a></li>
        <li><a href="{{ url_for('core/products',category_code='08',list_per_page=24,page_index=0) }}">生活雑貨</a></li>
        <li><a href="{{ url_for('core/products',category_code='09',list_per_page=24,page_index=0) }}">ホビー・エトセトラ</a></li>
        <li><a href="{{ url_for('core/products',category_code='10',list_per_page=24,page_index=0) }}">スポーツ・レジャー</a></li>
    </ul>
    <ul class="fl-c">
        <li><a href="{{ url_for('core/index') }}">ホーム</a></li>
        <li><a href="http://www.mp.moshimo.com/mp/www/flow?shop_id=17491">お買い物の流れ</a></li>
        <li><a href="http://www.mp.moshimo.com/mp/www/payment?shop_id=17491">決済・配送・納期について</a></li>
        <li><a href="http://www.mp.moshimo.com/mp/www/mailmagazine?shop_id=17491">メールマガジンについて</a></li>
        <li><a href="http://cart.mp.moshimo.com/mp/cart/?shop_id=17491">カートを見る</a></li>
        <li><a href="http://www.mp.moshimo.com/mp/www/faq?shop_id=17491">FAQ</a></li>
    </ul>
    <ul class="fl-c">
        <li><a href="http://www.mp.moshimo.com/mp/www/return?shop_id=17491">返品について</a></li>
        <li><a href="http://www.mp.moshimo.com/mp/www/correspond?shop_id=17491">お問合せ対応時間</a></li>
        <li><a href="http://www.mp.moshimo.com/mp/www/inquiry/shopping?shop_id=17491">お買い物についてのお問い合わせ</a></li>
    </ul>
    <div class="fl-c"></div>
</footer>